<%#Formulario para crear notas%>

<section>
<form class="" action="/" method="post">
  <textarea name="content" rows="8" cols="80" placeholder= "Ingrese sus notas aqui"></textarea>
<input type="submit" value="Crear Nota!">
</form>
</section>


<%#De aquí en adelanto vamos a renderizar todas las notas%>
<% @notes.each do |note| %>
<article <%= 'class="complete"' if note.complete %>>
  <p>
    <%= note.content %>
    <span><a href="/<%= note.id %>">Edit</a><span>
  </p>
    <p class="links">
    <a href="/<%= note.id%>/complete">&#8623</a>
  </p>
    <p class="meta">Created: <%= note.created_at %></p>
</article>
<%end%>
